<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Leave as is, unless you know what you are doing! -->
    <appender name="REGULAR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.sikt.iso8583" level="TRACE"/>
    <root level="DEBUG">
        <appender-ref ref="REGULAR"/>
    </root>
</configuration>
